// Here you can add other styles
.table th, .table td {
    border-top: none; 
}

.search-label {
    float: right;
    width: 300px;
}

#petbase-logo {
    margin-left: 30px;
    width: 100%;
    height: 100%;
}

.image-btn {
    background: none;
    border: none;
    text-align: left;
}

.img-container {
    position: relative;
    width: 50%;
    float: left;
  }
  
.image {
  opacity: 1;
  display: block;
  width: 110px;
  height: 80px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-container:hover .image {
  opacity: 0.3;
}

.img-container:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer;
}

@media 
only screen and (max-device-width: 650px)  {

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
    border: 1px solid #ccc; 
    height: 70vh;
  }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	td:nth-of-type(1):before { content: "Name"; }
	td:nth-of-type(2):before { content: "Life Span"; }
	td:nth-of-type(3):before { content: "Size"; }
	td:nth-of-type(4):before { content: "Coat"; }
	td:nth-of-type(5):before { content: "Unique Traits"; }
  td:nth-of-type(6):before { content: "Picture"; }
  
  .table th, .table td {
    padding-left: 50%;
  }

  .react-bootstrap-table {
    margin-top: 40px;
  }

  #table-wrapper {
    position: absolute;
    top: 10px;
  }

  .form-control {
    width: 70%;
  }
}

@media 
only screen and (max-device-width: 360px)  {
  tr { 
    border: 1px solid #ccc; 
    height: 100vh;
  }
}